@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #eef9bf;
}

.jogo {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1110px;
    min-height: 629px;
    margin: auto;
}

.timer {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.nome {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.4%;
    color: #75b79e;
    text-align: center;
    margin: 20px 0px;
}

.area {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.carta {
    position: relative;
    width: 117px;
    height: 146px;
    background-color: #a7e9af;
    border: 1px solid #99cea8;
    border-radius: 5px;
    margin: 15px;
}

.frente, .verso {
    position: absolute;
    width: 117px;
    height: 146px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.frente {
    background-image: url("../media/front.png");
}

.verso {
    transform: rotateY(180deg);
}

.carta.virada .frente {
    transform: rotateY(180deg);
}

.carta.virada .verso {
    transform: rotateY(0deg);
}

@media screen and (max-width: 335px) {
    .area {
        flex-flow: column nowrap;
    }
}